<!-- <app-homeheadnav> </app-homeheadnav>


<img class="img" src="../../assets/img/back.jpg">

<div class="homecontent">
  <h1>Start Reading For bright Future </h1>
  <a routerLink="search" class="btn btn-lg btn-light">Discover Author</a> &nbsp;



</div> -->
<section class="p-wrapper">
  <app-homeheadnav> </app-homeheadnav>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-5">
          <div class="p-profile">


            <div class="col-sm-7">
              <span class="p-tag">ABOUT US</span>
              <h1 class="mt-3">READERS SPOT</h1>
              <p class="p-des mt-3">
                The Book Spot was founded in the year December 2021. We are also known as Readers Spot. You cane get the
                details about the athors at this place. You just have to search the name of the author and you will get
                the details about the author, the book he/she/it have wrote and the top work done by the particular
                author. This all details comes from the 3rd party library named as openlibrary.org.
              </p>
              <a href="#" [routerLink]="['/about']" class="arr">Read More<img src="../../assets/img/arrow_rgt.png"
                  alt="The icon for readmore" width="20 " /></a>

            </div>


          </div>
          <div class="col-sm-7"></div>

        </div>
      </div>
    </div>
  </section>
</section>