<!-- <app-homeheadnav> </app-homeheadnav>

<body>
  <mat-card>
    <mat-card-header>
      <mat-card-title class="reg"> Register </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form class="my-form" #userForm="ngForm">
        <div>
          <mat-form-field>
            <mat-label class="label">Username</mat-label>
            <input id="username" class="matInputdata" matInput [(ngModel)]="user.username" name="username"
              (keydown.space)="$event.preventDefault()" required minlength="4" #username="ngModel" type="text" />

            <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger"></div>
            <div *ngIf="username.errors?.['required']"></div>
            <div *ngIf="username.errors?.['minlength']">
              UserName must be at least 4 characters long.
            </div>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label class="label">Email</mat-label>
            <input id="email" class="matInputdata" matInput [(ngModel)]="user.email" name="email"
              (keydown.space)="$event.preventDefault()" required #email="ngModel" type="email" />

            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger"></div>
            <div *ngIf="email.errors?.['required']"></div>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label class="label">Set Password</mat-label>
            <input type="password" id="password" class="matInputdata" matInput [(ngModel)]="user.password"
              name="password" (keydown.space)="$event.preventDefault()" required minlength="6" #password="ngModel"
              required />

            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
              <div *ngIf="password.errors?.['required']"></div>
              <div *ngIf="password.errors?.['minlength']">
                Password must be at least 6 characters long.
              </div>
            </div>
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="userForm.invalid" class="register-user" mat-raised-button color="accent" (click)="register()"
        id="btn">
        Register
      </button>
    </mat-card-actions>
  </mat-card>

  <div style="text-align: center;font-size: larger;">{{ disp_msg }}</div>
</body>
<app-userfootnav> </app-userfootnav> -->
<section class="p-wrapper">
  <app-homeheadnav> </app-homeheadnav>

  <body>
    <form class="my-form" #userForm="ngForm">

      <section class="lohin py-5 bg-light">
        <div class="container">
          <div class="row g-0">
            <div class="col-lg-5">
              <img src="../../assets/img/login-page-book.webp" class="img-fluid" alt="">

            </div>
            <div class="col-lg-7 text-center py-5">
              <h1 class="animate__animated animate__heartBeat animate__infinite">REGISTER FOR BOOK SPOT</h1>
              <form>
                <div class="form-row py-3 pt-5">
                  <div class="offset-1 col-lg-10">
                    <input placeholder="UserName" id="username" class="inp px-3" matInput [(ngModel)]="user.username"
                      name="username" (keydown.space)="$event.preventDefault()" required minlength="4"
                      #username="ngModel" type="text" />

                    <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
                    </div>
                    <div *ngIf="username.errors?.['required']"></div>
                    <div *ngIf="username.errors?.['minlength']">
                      UserName must be at least 4 characters long.

                    </div>
                  </div>
                </div>
                <div class="form-row py-3 pt-5">
                  <div class="offset-1 col-lg-10">
                    <!-- <input type="password" class="inp px-3" placeholder="Password"> -->
                    <input placeholder="Email" id="email" class="inp px-3" matInput [(ngModel)]="user.email"
                      name="email" (keydown.space)="$event.preventDefault()" required #email="ngModel" type="email" />

                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger"></div>
                    <div *ngIf="email.errors?.['required']"></div>

                  </div>

                </div>
                <div class="form-row py-3 pt-5">
                  <div class="offset-1 col-lg-10">
                    <!-- <input type="password" class="inp px-3" placeholder="Password"> -->
                    <input placeholder="Password" type="password" id="password" class="inp px-3" matInput
                      [(ngModel)]="user.password" name="password" (keydown.space)="$event.preventDefault()" required
                      minlength="6" #password="ngModel" required />

                    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                      <div *ngIf="password.errors?.['required']"></div>
                      <div *ngIf="password.errors?.['minlength']">
                        Password must be at least 6 characters long.
                      </div>

                    </div>
                  </div>
                </div>

                <div class="form-row py-3">
                  <div class="offset-1 col-lg-10">
                    <!-- <button class="btn-1">SignUp</button> -->
                    <button [disabled]="userForm.invalid" class="register-user" mat-raised-button color="accent"
                      (click)="register()" id="btn">
                      Register
                    </button><br>
                    {{disp_msg}}

                  </div>

                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </form>
  </body>
</section>