/* .form-signin{
  text-align: center;
  width: 30%;
  margin: center;
  margin-left: 35%;
  margin-top: 10%;
}
.logo{
  height: 6vh;
  margin-right: auto;
}
.col-md-6{
  text-align: center;
  padding: 5%;
  border: 5%;
  padding-top: 10%;
}
.reg{


margin: auto;
text-align: center;
align-content: center;
justify-content: center;
align-items: center;
display:flex;
text-align: center;
color: black;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
font-size: large;
font-size: 25px;
padding-left: 120px;
}

mat-card{
  display: flex;
  flex-direction:  column;
  height: 100vh;
  width: 40vw;
  text-align: center;
  margin: auto;
  margin-bottom: 20vh;
  margin-top: 110px;
  background-color:rgb(248, 191, 230);

}

mat-card-title{
  color: rgb(89, 19, 219);
  font-size: 1.2em;
  font-family: 'Acme, sans-serif';
  padding-left: 15vw;
  padding-top: 3vh;

}
my-form{
  display: flex;
  flex-direction:  column;
  width: 20vw;
  margin: auto;
  background-color: white;
}

.label{
  color: black;
  font-family: 'Acme, sans-serif';
} */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
}
.row{
  background: #f9b205;
  border-radius: 30px;
  box-shadow: 12px 12px 22px;
}
.login img{
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;

}
h1{
  
  font-weight: 700;
  font-family: cursive;
}

.inp{
  height: 30px;
  width: 70%;
  border: none;
  outline: none;
  border-radius: 60px;
  box-shadow: -1px 1px 30px -11px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 1px 30px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 1px 30px -11px rgba(0,0,0,0.75);
}
.btn-1{
height: 50px;
width: 50%;
border: none;
outline: none;
border-radius: 60px;
font-weight: 600;
background: brown;

}
.container{
  margin-left: 0;
  height: 300px;
  margin-top: -70px;
}
.p-wrapper::before{
  content: '';
  background: #f9b205;
  height: 120vh;
  width: 25vw;
  position: absolute;
  z-index: -1;

}