/* done
.logo{
  height: 6vh;
  margin-right: auto;
  
  margin-left: auto;
  justify-content: left;
  padding-left: 5px;
  position: absolute;
  left: 0%;
  width: 8vh;
  margin: 10px;
 
}
.col-md-6{
  text-align: center;
  padding: 5%;
  border: 5%;
  padding-top: 10%;
}
/*  body{
  background-image: url("/assets/img/covid_worldmap.png");


.img{
width: 100%;
height: 600px;
opacity: initial;
}
.text-block {
position: absolute;
bottom: 150px;
left: 20px;
font-size: x-large;
color: blue;
padding-left: 20px;
padding-right: 20px;
}

ul li a:hover{
background-color: grey;
border-radius: 5px;
display: inline;
position: relative;
text-emphasis-color: red;
text-decoration: aqua;
border-block-color: red;
cursor: pointer;
box-shadow: inset;

}
.header{
  background-color: chartreuse;
} */

header{
  padding: 30px 0;
}
.p-hamburger{
  cursor: pointer;
  color: #000;
  font-weight: 500;
}

.p-hamburger span{
  width: 20px;
  height: 3px;
  background: #000;
  display: block;
  margin-bottom: 4 px;
}
.p-hamburger span:last-child{
  margin-bottom: 0;
}

.p-hamburger span:nth-child(2){
  width: 10px;

}
header ul{
  display: flex;
  align-items: center;
  color: #000000;
  font-family:cursive;
  font-weight: 500;
  font-size: 0.60cm;
}
header ul li{
  padding: 0 40px;
}
header ul li:first-child{
  padding-left: 0;
}
header ul li:first-child{
  padding-right: 0;
}
header ul li a{
  color: #000000;
  font-family: 500;
  position: relative;
}

header ul li a:hover::after, header ul li a.is-active::after{
  content: '';
  background: #f9b205;
  height: 7px;
  position: absolute;
  left: 1px;
  z-index: -1;
  bottom: 0;
  right: -3px;
}
h1{
  font-family:cursive;
  font-weight: 700;
  margin-left: -40px;
  border-style:unset
}