<!-- <header class="header">
  <div class="container">




    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-left mb-md-0">
      <li><a href="#" id="home" class="nav-link px-2 text-white" [routerLink]="['/']">Home</a></li>
      <li><a href="#" class="nav-link px-2 text-white" [routerLink]="['/login']">Login</a></li>
      <li><a href="#" class="nav-link px-2 text-white" [routerLink]="['/register']">Register</a></li>
      <li><a href="#" class="nav-link px-2 text-white" [routerLink]="['/search']">Search</a></li>
     
    </ul>

  

  </div>
</header> -->

<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 p-flex p-flex-align-center p-flex-js-sb">
        <ul>
          <li class="p-hamburger">
            <!-- <span></span>
            <span></span>
            <span></span> -->
            <h1>THE BOOK SPOT</h1>


          </li>

        </ul>
        <ul>
          <li>
            <a class="nav-link" href="#" [routerLink]="['/']">Home</a>
          </li>
          <li>
            <a class="nav-link" href="#" [routerLink]="['/login']">Login</a>
          </li>
          <li>
            <a class="nav-link" href="#" [routerLink]="['/register']">
              Register
            </a>
          </li>
          <li>
            <a class="nav-link" href="#" [routerLink]="['/search']">
              Search
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>