<!-- <app-userheadnav></app-userheadnav>
<body>
<mat-card>
    <mat-card-content>
        <form class="my-form" #userForm="ngForm">
          <div>
            <mat-form-field>
              <mat-label class="label">oldpassword</mat-label>
              <div >
                <input type="text" id="oldpassword" class="matInputdata" matInput [(ngModel)]="user.oldpassword" #username="ngModel"
                    name="oldpassword"  placeholder="oldpassword">
              </div>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label class="label">newpassword</mat-label>
              <div>
                <input type="text" id="newpassword" class="matInputdata" matInput [(ngModel)]="user.newpassword" #username="ngModel"
                    name="newpassword"  placeholder="newpassword">
          </div>
            </mat-form-field>
          </div>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button [disabled]="userForm.invalid" class="register-user" mat-raised-button color="accent" (click)="updatePassword()"
          id="btn">
          ChangePassword
        </button><br>
      </mat-card-actions>
    </mat-card>
    
</body>
<app-userfootnav> </app-userfootnav> -->

<section class="p-wrapper">
  <app-userheadnav></app-userheadnav>

  <body>

    <form class="my-form" #userForm="ngForm">

      <section class="lohin py-3 bg-light">
        <div class="container">
          <div class="row g-0">
            <div class="col-lg-5">
              <img src="../../assets/img/login-page-book.webp" class="img-fluid" alt="">

            </div>
            <div class="col-lg-7 text-center py-5">
              <h1 class="animate__animated animate__heartBeat animate__infinite">CHANGE PASSWORD</h1>
              <form>
                <div class="form-row py-3 pt-5">
                  <div class="offset-1 col-lg-10">
                    <input type="text" id="oldpassword" class="inp px-3" matInput [(ngModel)]="user.oldpassword"
                      #username="ngModel" name="oldpassword" placeholder="Type Old Password">
                  </div>

                </div>
                <div class="form-row py-3 pt-5">
                  <div class="offset-1 col-lg-10">
                    <!-- <input type="password" class="inp px-3" placeholder="Password"> -->
                    <input type="text" id="newpassword" class="inp px-3" matInput [(ngModel)]="user.newpassword"
                      #username="ngModel" name="newpassword" placeholder="Type New Password">
                  </div>

                </div>

                <div class="form-row py-3">
                  <div class="offset-1 col-lg-10">
                    <!-- <button class="btn-1">SignUp</button> -->
                    <button [disabled]="userForm.invalid" class="register-user" mat-raised-button color="accent"
                      (click)="updatePassword()" id="btn">
                      Change Password
                    </button><br>
                    {{disp_msg}}

                  </div>

                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </form>

  </body>
</section>