<!-- <body>
<mat-card>
<mat-card-content>
    <form class="my-form" #userForm="ngForm">
      <div>
        <mat-form-field>
          <mat-label class="label">Username</mat-label>
          <div >
            <input type="text" id="username" class="matInputdata" matInput [(ngModel)]="user.username" #username="ngModel"
                name="username"  placeholder="Username">
          </div>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label class="label">Email</mat-label>
          <div>
            <input type="text" id="email" class="matInputdata" matInput [(ngModel)]="user.email" #username="ngModel"
                name="email"  placeholder="email">
      </div>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button [disabled]="userForm.invalid" class="register-user" mat-raised-button color="accent" (click)="changedetails()"
      id="btn">
      SaveChanges
    </button><br>
    {{disp_msg}}
  </mat-card-actions>
</mat-card>

</body> -->
<section class="p-wrapper">
  <app-userheadnav></app-userheadnav>

  <body>

    <form class="my-form" #userForm="ngForm">

      <section class="lohin py-3 bg-light">
        <div class="container">
          <div class="row g-0">
            <div class="col-lg-5">
              <img src="../../assets/img/login-page-book.webp" class="img-fluid" alt="">

            </div>
            <div class="col-lg-7 text-center py-5">
              <h1>Edit User Details</h1>
              <form>
                <div class="form-row py-3 pt-5">
                  <div class="offset-1 col-lg-10">
                    <input type="text" id="username" class="inp px-3" matInput [(ngModel)]="user.username"
                      #username="ngModel" name="username" placeholder="Username">
                  </div>

                </div>
                <div class="form-row py-3 pt-5">
                  <div class="offset-1 col-lg-10">
                    <!-- <input type="password" class="inp px-3" placeholder="Password"> -->
                    <input type="text" id="email" class="inp px-3" matInput [(ngModel)]="user.email" #username="ngModel"
                      name="email" placeholder="email">
                  </div>

                </div>

                <div class="form-row py-3">
                  <div class="offset-1 col-lg-10">
                    <!-- <button class="btn-1">SignUp</button> -->
                    <button [disabled]="userForm.invalid" class="register-user" mat-raised-button color="accent"
                      (click)="changedetails()" id="btn">
                      Edit
                    </button><br>
                    {{disp_msg}}

                  </div>

                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </form>

  </body>
</section>